* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #6dddfc;
  background-image: linear-gradient(to bottom right, #6dddfc, #6d82fc);
}

.container {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  place-items: center;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 16px;
  align-self: center;
  width: 100%;
}

.btn:hover {
  background-color: #ccc;
  color: black;
  cursor: pointer;
}

img {
  border: 1px solid black;
}

.assignment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
